# Loginiai kintamieji (boolean)

In [4]:
tiesa = True
type(tiesa)

bool

In [5]:
int(tiesa)

1

In [6]:
int(False)

0

In [8]:
from calendar import isleap
type(isleap(2100))

bool

In [19]:
krepselis = {
    "sausainiai": 2,
    "kava": 1.05,
    "medus": 7,
}

def ar_yra(zodynas, raktas):
    if raktas in zodynas:
        return True
    else:
        return False

ar_yra(krepselis, 'medus')

True

In [21]:
# if ar_yra(krepselis, 'kava'):
if 'kava' in krepselis:
    print(krepselis['kava'])
else:
    print('kavos nera')

1.05

In [31]:
tiesa = ar_yra(krepselis, 'uogiene') == False
tiesa

True

In [32]:
not True

False

In [33]:
not False

True

In [34]:
not ar_yra(krepselis, 'uogiene')

True

In [41]:
darbuotojai = {
    'studente': "Airida",
    'destytojas': "Kestutis",
    'koordinatorius': "Shakute",
}

if ar_yra(darbuotojai, 'studente'):
    print(darbuotojai['studente'])

if ar_yra(darbuotojai, 'koordinatorius'):
    print(darbuotojai['koordinatorius'])

Airida
Shakute

In [50]:
print(type(darbuotojai))
print(type(darbuotojai['koordinatorius']))
print(type(krepselis['kava']))
print(type(krepselis['sausainiai']))
print(type(ar_yra(krepselis, 'medus')))
print(type(5.5))
print(type(ar_yra))

<class 'dict'>
<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'float'>
<class 'function'>

# Data laikas

In [51]:
import datetime

In [52]:
datetime.date.today()

datetime.date(2022, 12, 22)

In [53]:
siandien = datetime.date.today()
print(siandien)

2022-12-22

In [54]:
type(siandien)

datetime.date

In [58]:
laikas = datetime.time(13, 58)
print(laikas)
print(type(laikas))

13:58:00
<class 'datetime.time'>

In [60]:
dabar = datetime.datetime.now()
print(dabar)
print(type(dabar))

2022-12-22 14:00:01.481356
<class 'datetime.datetime'>

In [62]:
utc_dabar = datetime.datetime.utcnow()
print(utc_dabar)

2022-12-22 12:01:37.895181

In [69]:
skirtumas = datetime.datetime.now() - dabar
skirtumas.seconds // 60

14

In [67]:
type(skirtumas)

datetime.timedelta

In [68]:
gimiau = datetime.date(1983, 3, 19)
print(gimiau)

1983-03-19

In [70]:
amzius = datetime.date.today() - gimiau
print(amzius)

14523 days, 0:00:00

In [75]:
round(amzius.days / 365.25, 2)

39.76

In [82]:
print(f"{(amzius.days // 365.25):0.0f} metai, {(amzius.days % 365.25):0.0f} dienos")

39 metai, 278 dienos

In [91]:
metai = amzius.days // 365.25
menesiai = (amzius.days % 365.25) // 30
dienos = round(amzius.days % 365.25) - menesiai * 30
print(int(metai), int(menesiai), int(dienos))

39 9 8

## datos/laiko konvertavimo/formatavimo funkcijos strftime/strptime

In [107]:
print(gimiau.strftime("%A, %B %d, %Y"))

Saturday, March 19, 1983

In [94]:
import locale

In [106]:
locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')

'en_US.UTF-8'

## timedelta

In [115]:
datetime.date.today() - datetime.timedelta(days=7)

datetime.date(2022, 12, 15)

In [114]:
datetime.date.today() - datetime.timedelta(days=-1000)

datetime.date(2025, 9, 17)

In [122]:
uz_50_dienu = datetime.date.today() + datetime.timedelta(days=50)
uz_50_dienu.strftime("%A, %B %d, %Y")

'Friday, February 10, 2023'

In [116]:
skirtumas = datetime.date(2023, 3, 1) - datetime.date.today()
skirtumas.days

69

In [133]:
dabar = datetime.datetime.now()
laikrodis = dabar.strftime("%H:%M:%S")
print(type(dabar))
print(type(laikrodis))
print(laikrodis)

<class 'datetime.datetime'>
<class 'str'>
15:46:35

In [120]:
pries_valanda = datetime.datetime.now() - datetime.timedelta(seconds=60*60)
pries_valanda.strftime("%H:%M")

'14:37'

# Klaidų gaudymas

In [23]:
sk1 = 7
sk2 = 'x'
try:
    rez = sk1 / sk2
except Exception as error:
    print(f"Error {error.__class__.__name__}: {error}")
else:
    print(f"{sk1} / {sk2} = {rez}")

Error TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [24]:
sk1 = 7
sk2 = 0
try:
    rez = sk1 / sk2
except TypeError as error:
    print(f"Error {error.__class__.__name__}: {error}")
except ZeroDivisionError as error:
    print(f"Error {error.__class__.__name__}: {error}")
else:
    print(f"{sk1} / {sk2} = {rez}")

Error ZeroDivisionError: division by zero

In [11]:
sk1 = 'x'
sk2 = 0
try:
    rez = sk1 / sk2
except TypeError as error:
    print(f"Matematiniai veiksmai leidžiami tik su skaičiais")
except ZeroDivisionError as error:
    print(f"Dalybos iš nulio klaida")
else:
    print(f"{sk1} / {sk2} = {rez}")

Matematiniai veiksmai leidžiami tik su skaičiais

In [22]:
from datetime import datetime
obj = datetime.now()
print(obj.__class__)
print(obj.__class__.__name__)
obj = "tekstas"
print(obj.__class__)
print(obj.__class__.__name__)

<class 'datetime.datetime'>
datetime
<class 'str'>
str

In [34]:
try:
    skaicius = int(input("iveskite skaiciu: "))
    rezultatas = 9 // skaicius
    failas = open(str(rezultatas)+".txt")
except Exception as klaida:
    print(f"Klaida {klaida.__class__.__name__}:{klaida}")

Klaida FileNotFoundError:[Errno 2] No such file or directory: '1.txt'

In [46]:
try:
    skaicius = int(input("iveskite skaiciu: "))
    rezultatas = 9 // skaicius
    failas = open(str(rezultatas)+".txt")
except ValueError:
    print('Ivestas ne skaičius')
    rezultatas = 1
except ZeroDivisionError:
    print('Dalyba iš nulio negalima')
    rezultatas = 0
except FileNotFoundError:
    print('Failas nerastas, tai jį sukursim')
    failas = open(str(rezultatas)+".txt", "w")
else:
    print('veikia!')
finally:
    print('vykdom koda toliau')
    print('rezultatas:', rezultatas)

veikia!
vykdom koda toliau
rezultatas: 3