# sąrašai

In [2]:
tuscias = []
tuscias

[]

In [3]:
sarasas = [5, 7, 3, 1, 11, 9, 3, 13]
sarasas

[5, 7, 3, 1, 11, 9, 3, 13]

In [4]:
zodziai = ["labas", "rytas", "studentai"]
zodziai

['labas', 'rytas', 'studentai']

In [5]:
tarpas = " "
tarpas.join(zodziai)

'labas rytas studentai'

In [6]:
# ketvirtas sąrašo elementas
sarasas[3]

1

In [7]:
zodziai[1]

'rytas'

In [8]:
# i sąrašą įtraukiam skaičių 12
sarasas.append(12)
sarasas

[5, 7, 3, 1, 11, 9, 3, 13, 12]

In [9]:
# sąrašo antrą elementą pakeičiam žodžiu "vakaras"
zodziai[1] = "vakaras"
zodziai

['labas', 'vakaras', 'studentai']

In [10]:
sarasas[4] = 9
sarasas

[5, 7, 3, 1, 9, 9, 3, 13, 12]

In [11]:
# randam kur yra mus dominantis elementas sąraše
sarasas.index(13)

7

In [12]:
# ištraukiam 8'ą elementą iš sąrašo
sarasas.pop(7)

13

In [13]:
sarasas

[5, 7, 3, 1, 9, 9, 3, 12]

In [14]:
len(sarasas)

8

In [15]:
sakinys = "o jau pietu pertrauka ateina"
len(sakinys)

28

In [16]:
zodziai = sakinys.split()

In [17]:
zodziai[3]

'pertrauka'

In [18]:
zodziai[3][6]

'u'

In [19]:
type(sarasas)

list

# žodynai

In [1]:
tz = {}
type(tz)

dict

In [8]:
krepselis = {
    "kava": 7.99,
    "sausainiai": 2.19,
    "apelsinai": 1.59,
    "ananasas": 3.06,
}
krepselis

{'kava': 7.99, 'sausainiai': 2.19, 'apelsinai': 1.59, 'ananasas': 3.06}

In [4]:
krepselis['kava']

7.99

In [9]:
# keičiam žodyno įrašą
krepselis['ananasas'] = 3.57
krepselis

{'kava': 7.99, 'sausainiai': 2.19, 'apelsinai': 1.59, 'ananasas': 3.57}

In [10]:
# pridedam žodyno įrašą
krepselis['vanduo'] = 0.29
krepselis

{'kava': 7.99,
 'sausainiai': 2.19,
 'apelsinai': 1.59,
 'ananasas': 3.57,
 'vanduo': 0.29}

In [11]:
# trinam žodyno įrašą
del krepselis['sausainiai']
krepselis

{'kava': 7.99, 'apelsinai': 1.59, 'ananasas': 3.57, 'vanduo': 0.29}

In [12]:
krepselis['chino\'ai'] = 2.30
krepselis

{'kava': 7.99,
 'apelsinai': 1.59,
 'ananasas': 3.57,
 'vanduo': 0.29,
 "chino'ai": 2.3}

In [13]:
krepselis['mineralinis vanduo "Vytautas"'] = 1.05
krepselis

{'kava': 7.99,
 'apelsinai': 1.59,
 'ananasas': 3.57,
 'vanduo': 0.29,
 "chino'ai": 2.3,
 'mineralinis vanduo "Vytautas"': 1.05}

# ciklai

## sąrašams

In [16]:
for skaicius in sarasas:
    print(skaicius)

5
7
3
1
11
9
3
13

In [5]:
suma = 0
for skaicius in sarasas:
    print('tarpine suma:', suma)
    suma += skaicius
print('galutine suma:', suma)

tarpine suma: 0
tarpine suma: 5
tarpine suma: 12
tarpine suma: 15
tarpine suma: 16
tarpine suma: 27
tarpine suma: 36
tarpine suma: 39
galutine suma: 52

## žodynams

In [32]:
krepselis['kavos aparatas'] = 359.19

In [39]:
# ciklas per visus žodyno vienetų elementus
suma = 0
for preke, kaina in krepselis.items():
    print(f"{preke:35s}: {kaina:6.2f}")
    suma += kaina
print(f"{'viso':35s}: {suma:6.2f}")

kava                               :   7.99
apelsinai                          :   1.59
ananasas                           :   3.57
vanduo                             :   0.29
chino'ai                           :   2.30
mineralinis vanduo "Vytautas"      :   1.05
kavos aparatas                     : 359.19
viso                               : 375.98

In [40]:
for preke in krepselis:
    print('preke:', preke, '| kaina:', krepselis[preke])

preke: kava | kaina: 7.99
preke: apelsinai | kaina: 1.59
preke: ananasas | kaina: 3.57
preke: vanduo | kaina: 0.29
preke: chino'ai | kaina: 2.3
preke: mineralinis vanduo "Vytautas" | kaina: 1.05
preke: kavos aparatas | kaina: 359.19

In [42]:
suma = 0
for kaina in krepselis.values():
    suma += kaina
print(suma)

375.98

## range funkcija

In [43]:
for skaicius in range(1, 11):
    print(skaicius)

1
2
3
4
5
6
7
8
9
10

In [44]:
for skaicius in range(3, 31, 3):
    print(skaicius)

3
6
9
12
15
18
21
24
27
30

In [46]:
tarpinis = 2
for skaicius in range(2, 11, 2):
    print(f"{tarpinis} * {skaicius} = ", end="")
    tarpinis *= skaicius
    print(tarpinis)

2 * 2 = 4
4 * 4 = 16
16 * 6 = 96
96 * 8 = 768
768 * 10 = 7680

In [47]:
for metai in range(1980, 2023):
    print(metai)

1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

In [48]:
for skaicius in range(-5, 6):
    print(skaicius)

-5
-4
-3
-2
-1
0
1
2
3
4
5

In [49]:
for metai in range(2022, 1999, -1):
    print(metai)

2022
2021
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008
2007
2006
2005
2004
2003
2002
2001
2000

## while ciklai

In [50]:
skaicius = 5
while skaicius > 0:
    print(skaicius)
    skaicius -= 1

5
4
3
2
1

In [51]:
skaicius = 0
while skaicius < 10:
    print('skaicius pries padidinima:', skaicius)
    skaicius += 2
    print('padidintas skaicius:', skaicius)

skaicius pries padidinima: 0
padidintas skaicius: 2
skaicius pries padidinima: 2
padidintas skaicius: 4
skaicius pries padidinima: 4
padidintas skaicius: 6
skaicius pries padidinima: 6
padidintas skaicius: 8
skaicius pries padidinima: 8
padidintas skaicius: 10

In [52]:
for skaicius in range(-2, 50):
    print(skaicius)
    if skaicius != 0 and skaicius % 17 == 0:
        break

-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [53]:
for skaicius in range(0, 11):
    if skaicius % 2 == 0:
        continue
    print(skaicius)

1
3
5
7
9

In [55]:
saugiklis = 5
for skaicius in range(1, 9):
    print(skaicius)
    if skaicius > saugiklis:
        print('saugiklis išmuštas')
        break
else:
    print('ciklas sėkmingai prasuktas')

1
2
3
4
5
6
saugiklis išmuštas

In [59]:
sarasas.reverse()
sarasas

[13, 11, 9, 7, 5, 3, 3, 1]

In [62]:
sarasas.sort(reverse=True)
sarasas

[13, 11, 9, 7, 5, 3, 3, 1]